name: PlatformIO CI

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
    - name: Run PlatformIO
      run: |
        cd include
        for h in `ls -1 *.h.sample`; do l=${h%.sample}; ln -s $h $l; done
        cd ..
        ln -s server.crt.sample server.crt
        ln -s server.key.sample server.key
        pio run -e ESP32_TTGO_DISPLAY \
                -e ESP32_TTGO_DISPLAY_SSL \
                -e ESP32_WT32-SC01 \
                -e ESP32_TTGO_T4 \
                -e ESP32_WROOMD_HEADLESS
